system/nodered/nodereddata/flows.json
[{"id":"118d5eeb.c5a0c1","type":"tab","label":"Lumiere Salon","disabled":false,"info":""},{"id":"d2844952.000748","type":"tab","label":"State","disabled":false,"info":""},{"id":"7e638570.8d34ac","type":"tab","label":"LV Lights","disabled":false,"info":""},{"id":"b79beae9.58ac18","type":"tab","label":"IR Mapper","disabled":false,"info":""},{"id":"ac9a3ddb.65fcc","type":"tab","label":"Event","disabled":false,"info":""},{"id":"8d37e764.15c8f8","type":"websocket-client","path":"ws://irtracker/ws","tls":"","wholemsg":"false"},{"id":"72d9a66f.54bf78","type":"websocket in","z":"118d5eeb.c5a0c1","name":"irws","server":"","client":"8d37e764.15c8f8","x":90,"y":200,"wires":[["812f0ce4.4bcee"]]},{"id":"812f0ce4.4bcee","type":"switch","z":"118d5eeb.c5a0c1","name":"isjson","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^\\{.*\\}$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":200,"wires":[["e25c1f1a.fdf8e"]]},{"id":"e25c1f1a.fdf8e","type":"json","z":"118d5eeb.c5a0c1","name":"","property":"payload","action":"","pretty":true,"x":330,"y":200,"wires":[["76add8e8.573328"]]},{"id":"76add8e8.573328","type":"switch","z":"118d5eeb.c5a0c1","name":"Event/State","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"eventBase","vt":"str"},{"t":"hask","v":"freeram","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":200,"wires":[["8423d6f2.e94818"],["c45e94a8.c5e598"]]},{"id":"f697da59.f0656","type":"websocket out","z":"118d5eeb.c5a0c1","name":"","server":"","client":"8d37e764.15c8f8","x":440,"y":140,"wires":[],"inputLabels":["test"]},{"id":"b94fd317.13f0f","type":"inject","z":"118d5eeb.c5a0c1","name":"Connect","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"Connect","payloadType":"str","x":100,"y":140,"wires":[["f697da59.f0656","b05dfff4.e60c2"]]},{"id":"1cb58cc4.36ba43","type":"catch","z":"118d5eeb.c5a0c1","name":"","scope":null,"uncaught":false,"x":100,"y":260,"wires":[["fce5b19f.b14c9"]]},{"id":"fce5b19f.b14c9","type":"debug","z":"118d5eeb.c5a0c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":260,"wires":[]},{"id":"748cd3bd.2a88fc","type":"function","z":"118d5eeb.c5a0c1","name":"Media State","func":"var state=\"\";\nif (msg.payload.includes(\"STATE_TRANS:\")) {\n    if (msg.payload.includes(\"OMX_StateIdle => OMX_StateExecuting :\")) {\n        state=\"playing\";\n    }\n\n    if (msg.payload.includes(\"OMX_StateExecuting => OMX_StateIdle :\")) {\n        state=\"stopped\";\n    }\n}\n\n//if (msg.payload.includes(\"Media focus: paused\")) {\n//    state=\"paused\";\n//}\n\nif (msg.payload.includes(\"Media focus: playing\")) {\n    state=\"playing\";\n}\n\n//if (msg.payload.includes(\"ANDROID_MEDIA_SESSION is ACTIVE_SUSPENDED\")) {\n//    state=\"paused\";\n//}\n\nif (msg.payload.includes(\"Releasing audio content focus\")) {\n    if (flow.get(\"tv\") != \"paused\")\n        state=\"stopped\";\n}\nif (msg.payload.includes(\"Acquiring audio content focus\")) {\n    state=\"playing\";\n}\n\nif (state != \"\"){\n    flow.set(\"tv\",state);\n    \n    if (!flow.get(\"locklevel\")) {\n        if (state == \"playing\") {\n            return {payload:{level:0}};\n        }\n        if (state == \"paused\") {\n            return {payload:{level:2}};\n        }\n        if (state == \"stopped\") {\n            return {payload:{level:3}};\n        }\n    }\n    node.status({ \n        fill:\"green\",\n        shape:\"dot\",\n        text: `${state}-${flow.get(\"locklevel\")}`\n    });\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":220,"wires":[["97dee70b.9ee8d8"]]},{"id":"8423d6f2.e94818","type":"switch","z":"118d5eeb.c5a0c1","name":"Events","property":"payload.eventBase","propertyType":"msg","rules":[{"t":"eq","v":"IRDecoder","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":140,"wires":[["fb0bee1b.54697"]]},{"id":"c45e94a8.c5e598","type":"switch","z":"118d5eeb.c5a0c1","name":"State Validation","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"freeram","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":400,"wires":[["d23e892f.19ccb8","449a40a6.b012","14d12709.578b79"]]},{"id":"d23e892f.19ccb8","type":"switch","z":"118d5eeb.c5a0c1","name":"SPI RAM Low","property":"payload.freeram","propertyType":"msg","rules":[{"t":"lte","v":"700000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":360,"wires":[["3463ab46.59ef64"]]},{"id":"449a40a6.b012","type":"switch","z":"118d5eeb.c5a0c1","name":"DMA RAM Low","property":"payload.MALLOC_CAP_DMA","propertyType":"msg","rules":[{"t":"lte","v":"10000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":400,"wires":[["3463ab46.59ef64"]]},{"id":"3463ab46.59ef64","type":"function","z":"118d5eeb.c5a0c1","name":"reboot","func":"msg.payload = {command:\"reboot\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":380,"wires":[["e86cfd31.41f04"]]},{"id":"e86cfd31.41f04","type":"http request","z":"118d5eeb.c5a0c1","name":"Reboot","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://irtracker/status/cmd","tls":"","persist":false,"proxy":"","authType":"","x":1220,"y":380,"wires":[["dae2cf7e.ee876"]]},{"id":"fb0bee1b.54697","type":"function","z":"118d5eeb.c5a0c1","name":"IR Mapping","func":"if (!flow.get(\"lastmsgts\")) {\n    flow.set(\"lastmsgts\",new Date());\n} else {\n    var curTs = new Date();\n    if (curTs-flow.get(\"lastmsgts\")<500) {\n        return [];\n    }\n}\nflow.set(\"lastmsgts\",new Date());\nvar name;\nvar ret=[];\nswitch (msg.payload.data.lastCode) {\n    case \"0x20df4ab\":\n        name=\"entree\";\n    break;\n    case \"0x20dfca3\":\n        name=\"salon\";\n    break;\n    case \"0x20df2ad\":\n        name=\"cuisine\";\n    break;\n    case \"0x20dfaa5\":\n        ret[1] = {payload:{level:((flow.get(\"level\")|0)+1)%5}};\n        if (flow.get(\"tv\") == \"playing\") {\n            if (flow.get(\"level\") == 0) {\n                flow.set(\"locklevel\",true);\n                node.status({ \n                    fill:\"green\",\n                    shape:\"dot\",\n                    text: \"level lock\"\n                });\n            }\n            if (flow.get(\"level\") == 4) {\n                flow.set(\"locklevel\",false);\n                node.status({});\n            }\n        }\n    break;\n}\nif (name) {\n    ret[0] = {payload:{name:name, state:flow.get(name)?0:1}};\n    if (flow.get(\"isoff\") && ((name == \"salon\" && flow.get(name)) || !flow.get(name))) {\n        flow.set(\"isoff\",0);\n    }\n}\nreturn ret;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":140,"wires":[["510bd3ab.ecda6c"],["97dee70b.9ee8d8"]]},{"id":"97dee70b.9ee8d8","type":"function","z":"118d5eeb.c5a0c1","name":"Level Mapping","func":"const pinNames = [\"D1O2\",\"D12O3\",\"D123OH\",\"entree\",\"salon\",\"cuisine\"];\nif (msg.payload.level == flow.get(\"level\")) {\n    return [null,null];\n}\nret=[];\nif (msg.payload.level == 0) {\n    if (!flow.get(\"isoff\")) {\n        flow.set(\"prev-entree\",flow.get(\"entree\")|0);\n        flow.set(\"prev-salon\",flow.get(\"salon\")|0);\n        flow.set(\"prev-cuisine\",flow.get(\"cuisine\")|0);\n        flow.set(\"prev-level\",flow.get(\"level\")|0);\n        flow.set(\"isoff\",1);\n        ret[3] = {payload:{name:pinNames[3],state:1}};\n        ret[4] = {payload:{name:pinNames[4],state:0}};\n        ret[5] = {payload:{name:pinNames[5],state:1}};\n    }\n} else {\n    if (flow.get(\"isoff\")) {\n        flow.set(\"isoff\",0);\n\n        ret[3] = {payload:{name:pinNames[3],state:flow.get(\"prev-entree\")|0}};\n        ret[4] = {payload:{name:pinNames[4],state:flow.get(\"prev-salon\")|0}};\n        ret[5] = {payload:{name:pinNames[5],state:flow.get(\"prev-cuisine\")|0}};\n    }\n}\n\nswitch (msg.payload.level) {\n    case 1:\n        ret[0] = {payload:{name:pinNames[0],state:1}};\n        ret[1] = {payload:{name:pinNames[1],state:1}};\n        ret[2] = {payload:{name:pinNames[2],state:1}};\n    break;\n    case 2:\n        ret[0] = {payload:{name:pinNames[0],state:0}};\n        ret[1] = {payload:{name:pinNames[1],state:1}};\n        ret[2] = {payload:{name:pinNames[2],state:1}};\n    break;\n    case 3:\n        ret[1] = {payload:{name:pinNames[1],state:0}};\n        ret[2] = {payload:{name:pinNames[2],state:1}};\n    break;\n    case 4:\n        ret[2] = {payload:{name:pinNames[2],state:0}};\n    break;\n}\nflow.set(\"level\",msg.payload.level);\n\nnode.status({ \n    fill:\"green\",\n    shape:\"dot\",\n    text: flow.get(\"isoff\")?\"off lvl:\":\"on lvl:\" + flow.get(\"level\")\n});\n\nreturn [ret];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":220,"wires":[["510bd3ab.ecda6c"]]},{"id":"510bd3ab.ecda6c","type":"function","z":"118d5eeb.c5a0c1","name":"Pins","func":"const pinNames = [\"D1O2\",\"D12O3\",\"D123OH\",\"entree\",\"salon\",\"cuisine\"];\n\nif ((flow.get(msg.payload.name) != msg.payload.state) || \n    flow.get(\"rebooted\")) {\n    flow.set(msg.payload.name,msg.payload.state);\n    var state = \"\";\n    pinNames.forEach(pin => state+=flow.get(pin));\n    \n    node.status({ \n        fill:\"green\",\n        shape:\"dot\",\n        text: state\n    });\n    return {payload:{\n                eventBase: {version:0,value:\"DigitalPin\"},\n                eventId: {version:0,value:\"STATUS\"},\n                name:{version:0,value:msg.payload.name}, \n                state: {version:0,value:msg.payload.state}\n                }\n            };\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":220,"wires":[["275a493d.987c36"]]},{"id":"275a493d.987c36","type":"http request","z":"118d5eeb.c5a0c1","name":"lrelay","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://irtracker/status/","tls":"","persist":false,"proxy":"","authType":"","x":1330,"y":220,"wires":[["44b4ed32.6a1204"]]},{"id":"44b4ed32.6a1204","type":"function","z":"118d5eeb.c5a0c1","name":"save state","func":"flow.set(msg.payload.name,msg.payload.state);\nflow.set(\"rebooted\",false)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":220,"wires":[[]]},{"id":"b6b849d6.3c0958","type":"system-logs","z":"118d5eeb.c5a0c1","name":"Firestick","logtype":"Android","sshkeyfolder":"","address":"192.168.1.144","x":640,"y":220,"wires":[["748cd3bd.2a88fc"]]},{"id":"69400201.5f1f0c","type":"system-logs","z":"118d5eeb.c5a0c1","name":"Wifi Router","logtype":"MessageTail","sshkeyfolder":"./.ssh","address":"192.168.1.1","x":640,"y":300,"wires":[["1cbe3bbf.011574"]]},{"id":"1cbe3bbf.011574","type":"function","z":"118d5eeb.c5a0c1","name":"DHCP/Level","func":"var curStatus=false;\nvar statusChanged=false;\nif (msg.payload.includes(\"dnsmasq-dhcp\")) {\n    if (msg.payload.includes(\"88:bf:e4:ce:21:88\") &&\n        msg.payload.includes(\"DHCPOFFER\")){\n        if (!flow.get(\"human\")){\n            flow.set(\"human\",true);\n            curStatus=true;\n            statusChanged=true;\n        }\n    }\n}\nif (msg.payload.includes(\"hostapd\")) {\n    if (msg.payload.includes(\"88:bf:e4:ce:21:88\") &&\n        msg.payload.includes(\"disassociated\")){\n        if (flow.get(\"human\")){\n            flow.set(\"human\",false);\n            curStatus=false;\n            statusChanged=true;\n        }\n    }\n}\n\nif (statusChanged) {\n    node.status({ \n        fill:curStatus?\"green\":\"yellow\",\n        shape:curStatus?\"dot\":\"ring\",\n        text:`Human ${curStatus?\"home\":\"away\"}`\n    });\n    if (curStatus) {\n        return {payload:{level:flow.get(\"prev-level\")}};\n    } else {\n        return {payload:{level:0}};\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":300,"wires":[["97dee70b.9ee8d8"]]},{"id":"be65fc55.d9dfd","type":"http in","z":"118d5eeb.c5a0c1","name":"","url":"/salon/lumiere","method":"get","upload":false,"swaggerDoc":"","x":130,"y":320,"wires":[["a65ec9a4.86fd68"]]},{"id":"772d6058.05ec3","type":"http response","z":"118d5eeb.c5a0c1","name":"","statusCode":"","headers":{},"x":490,"y":320,"wires":[]},{"id":"a65ec9a4.86fd68","type":"template","z":"118d5eeb.c5a0c1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n{\"name\":\"D1O2\",\"state\":{{flow.D1O2}}},\n{\"name\":\"D12O3\",\"state\":{{flow.D12O3}}},\n{\"name\":\"D123OH\",\"state\":{{flow.D123OH}}},\n{\"name\":\"entree\",\"state\":{{flow.entree}}},\n{\"name\":\"salon\",\"state\":{{flow.salon}}},\n{\"name\":\"cuisine\",\"state\":{{flow.cuisine}}}]","output":"json","x":330,"y":320,"wires":[["772d6058.05ec3"]]},{"id":"b05dfff4.e60c2","type":"http request","z":"118d5eeb.c5a0c1","name":"getstate","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.138:1880/salon/lumiere","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":80,"wires":[["44be6f53.3cf8c"]]},{"id":"44be6f53.3cf8c","type":"function","z":"118d5eeb.c5a0c1","name":"Add payload","func":"return [msg.payload.map(pl => {return {payload:pl}})];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":80,"wires":[["510bd3ab.ecda6c"]]},{"id":"dae2cf7e.ee876","type":"function","z":"118d5eeb.c5a0c1","name":"Set Rebooted Flag","func":"flow.set(\"rebooted\",true)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":380,"wires":[[]]},{"id":"14d12709.578b79","type":"function","z":"118d5eeb.c5a0c1","name":"Check Reboot","func":"if (msg.payload.uptime_sec) {\n    if (!flow.get(\"uptime\")) {\n        flow.set(\"uptime\",msg.payload.uptime_sec);\n        node.status({ \n            fill:\"green\",\n            shape:\"dot\",\n            text: \"initilized\"\n        });\n    } else if (flow.get(\"uptime\") > msg.payload.uptime_sec) {\n        flow.set(\"rebooted\",true);\n        flow.set(\"uptime\",msg.payload.uptime_sec);\n        node.status({ \n            fill:\"red\",\n            shape:\"dot\",\n            text: \"rebooted\"\n        });\n    } else {\n        flow.set(\"uptime\",msg.payload.uptime_sec);\n        node.status({ \n            fill:\"green\",\n            shape:\"dot\",\n            text: `uptime ${new Date(msg.payload.uptime_sec*1000).toISOString().substr(11, 8)}`\n        });\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":440,"wires":[[]]}]